<header class="start-50 d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
  <a href="/" class="text-center align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
    <img src="assets/images/header.png" class="img-fluid" style="width: 150px;" title="Logo" alt="Logo">
  </a>


  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li><a href="#" class="nav-link px-2 link-dark">Our Story</a></li>
    <li><a href="#" class="nav-link px-2 link-dark fw-bolder">Join the Community</a></li>
    <li><a href="#" class="nav-link px-2 link-dark">Contact Us</a></li>
  </ul>

  <div class="col-md-3 text-center">
    <button type="button" class="btn btn-outline-black">Login</button>
  </div>
</header>