<div class="container">
  <div class="row">
    <div class="col">
      <div class="p-3">
        <h1>Time bank, but make it linguistic (insert hair flip)</h1>
        <h3>If you know how to communicate and want to communicate in another way, this is the place for you. We're
          building this jet ski as we go, excited to see where it will take us.</h3>
      </div>
    </div>
    <div class="col">
      <div class="p-3">
        <img src="assets/images/welcome.jpg" class="img-fluid rounded" style="width: 350px;" alt="Flower">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="p-3">
        <img src="assets/images/flower.jpg" class="img-fluid rounded" style="width: 500px;" alt="Flower">
      </div>
    </div>
    <div class="col">
      <div class="p-3">
        <h1>Ready to grow? ¿List@ para crecer? Pronto para crescer?</h1>
        <h4>Você fala português e quer aprender a falar espanhol ou inglês? Você pode ajudar outras pessoas a aprender português e receber ajuda em inglês ou espanhol.</h4>
        <h4>Do you speak English and want to learn Spanish or Portuguese? Help someone practice English, and pick up
          some
          Portuguese.</h4>
        <h4>¿Quieres mejorar el inglés o el portugués? Puedes ayudar a otra persona a practicar español y alguien puede ayudarte en otro idioma.</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="p-3">
        <h1>Aprender es vivir, compartir es vivir en comunidad</h1>
        <h3>Para aprender, hay que encontrar una manera de estar comod@ con los errors. Y la falta del conocimiento de
          anadir accentos en HTML. No nos vamos dejar la perfeccion pararnos de empezar. En realidad el problema es que no conozco atajos en este sistema operativo.</h3>
      </div>
    </div>
    <div class="col">
      <div class="p-3">
        <img src="assets/images/conjugation.jpg" class="img-fluid rounded" style="width: 350px;" alt="Flower">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="p-3">
        <img src="assets/images/basics.jpg" class="img-fluid rounded" style="width: 500px;" title="Flower" alt="Flower">
      </div>
    </div>
    <div class="col">
      <div class="p-3">
        <h1>We're keeping it simple (not stupid)</h1>
        <h3>This is the beta version of our project. We're sticking to the basics, trying to connect folks and hopefully
          create a space where the mutual exchange of language skills can take off.</h3>
          <h3>Esta é a versão beta do nosso projeto. Estamos nos apegando ao básico, tentando conectar as pessoas e, esperançosamente, criar um espaço onde a troca mútua de habilidades linguísticas possa voar</h3>
      </div>
    </div>
  </div>
</div>