<div class="container">
    <div class="row">
      <div class="col">
        <h1>Time bank, but make it linguistic (insert hair flip)</h1>
        <h3>If you know how to communicate and want to communicate in another way, this is the place for you. We're building this jet ski as we go, excited to see where it will take us.</h3>
      </div>
      <div class="col">
        <img src="assets/images/welcome.jpg" class="img-fluid" style="width: 350px;" alt="Flower">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="assets/images/flower.jpg" class="img-fluid" style="width: 500px;" alt="Flower">
      </div>
      <div class="col">
        <h1>Ready to grow?</h1>
        <h4>Voce fala portugues y quer aprender falar o espanhol ou o ingles? Voce pode ayudar a otras aprender o portugues y recibe ayuda na ingles ou espanhol.</h4>
        <h4>Do you speak English and want to learn Spanish or Portuguese? Help someone practice English, and pick up some Portuguese.</h4>
        <h4>Quieres mejorar el ingles o el portugues? Puedes ayudar a otra persona practicar espanol, y alguin puede ayudarte en otro idioma.</h4>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h1>Aprender es vivir, compartir es vivir en comunidad</h1>
        <h3>Para aprender, hay que encontrar una manera de estar comod@ con los errors. Y la falta del conocimiento de anadir accentos en HTML. No nos vamos dejar la perfeccion pararnos de empezar.</h3>
      </div>
      <div class="col">
        <img src="assets/images/conjugation.jpg" class="img-fluid" style="width: 350px;" alt="Flower">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="assets/images/basics.jpg" class="img-fluid" style="width: 300px;" title="Flower" alt="Flower">
      </div>
      <div class="col">
        <h1>We're keeping it simple (not stupid)</h1>
        <h3>This is the beta version of our project. We're sticking to the basics, trying to connect folks and hopefully create a space where the mutual exchange of language skills can take off.</h3>
      </div>
    </div>
  </div>